@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mary's Cosmetics Store</h1>
    <p class="lead">WELCOME!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-4">
     <h2>Welcome to Mary's Cosmetics Store</h2>
        <p></p>
           </div>
    <</div>
