@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mary's Cosmetics Store</h1>
    <p class="lead">WELCOME!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@using (Html.BeginForm("SignIn", "Home"))
{
<div class="row">
    <div class="col-md-4">
        <h2>Please log in</h2>
        <p>
            Enter your email address:@Html.TextBox("txtEmail")
        </p>
        <p><input id="Submit1" type="submit" value="SignIn" /></p>
    </div>
  
</div>
}